#logo {
  display: flex;
  height: 100%;
  padding-right: 18.51851851851852%;
  margin-right: 3.5%;
  z-index: 31;
  background-image: url('../img/whitelogo.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}
#logo.show {
  background-image: url('../img/blacklogo.svg');
}
#logo.change_header{
  background-image: url('../img/blacklogo.svg');
}
.lnb {
  width: 100%;
}
.lnb > nav {
  position: relative;
  z-index: 30;
}
.lnb > nav:hover + div {
  height: 610px;
  opacity: 1;
}
.lnb > nav + div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  background: #FFFFFF;
  transition: all 0.3s;
  z-index: 29;
}
.lnb > nav > .main-menu {
  display: flex;
  justify-content: space-between;
  height: 100px;
  overflow: hidden;
}

.lnb > nav > .main-menu:hover{
  color: #444444;
  overflow: visible;
}

.lnb > nav > .main-menu > li{
  position: relative;
  width: 14%;
  text-align: center;
  line-height: 100px;
  white-space: nowrap;
  flex-grow: 1; 
}
.lnb > nav > .main-menu > li:hover::after {
  width: 100%;
}
.lnb > nav > .main-menu > li::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  width: 0;
  height: 3px;
  background-color: #C22229;
  transition: all 0.4s;
  margin-top: 1px;
}
.lnb > nav > .main-menu > li > .sub-menu {
  position: absolute;
  width: 100%;
  z-index: 99;
  opacity: 0;
  transition: all 0.3s;
}
.lnb > nav > .main-menu:hover > li > .sub-menu {
  opacity: 1;
}
.lnb > nav > .main-menu > li > .sub-menu > li {
  line-height: 22.26px;
  padding: 1.5rem 0;
  position: relative;
}
.sub-menu-dropdown {
  text-align: start;
  line-height: 30px;
  font-size: 15px;
  padding-left: 35%;
  
}
.sub-menu-dropdown > li {
  display: flex;
  align-items: center;
}
.sub-menu-dropdown > li::before {
  content: '';
  display: flex;
  justify-content: flex-start;
  padding-right: 11px;
  width: 8px;
  height: 8px;
  background-image: url('../img/listIcon.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

@media (max-width: 1261px) {
  
}
@media (max-width: 700px) {
  
}